$primary-color: #1e90ff;
$secondary-color: #003f5e; // Azul oscuro
$warning-color: #f5eed7; // Amarillo brillante
$accent-color: #e8491d; // Naranja intenso
$background-aux: #fff;; // Gris claro para el fondo
$text-color: #333; // Color principal de texto
$link-color: #0069d9; // Azul para enlaces
$border-color: #cccccc; // Color de borde
$background-color: #f0f8ff;
$font-size: 1.4em;
